<%- include('../layouts/header') %>
<link rel="stylesheet" href="/css/auth/loginHome.css">
<div class="centered-container">
    <img src="/assets/hand.svg" alt="hand icon" class="hand-icon" />
    <p class="greeting-text">
      <strong><%= user.name %></strong>님 오늘도 손으로 새기며 배워봐요!
    </p>
  </div>
<%- include('../layouts/footer') %>