<%- include('../layouts/header') %>
<link rel="stylesheet" href="/css/auth/welcome.css">
<div class="login-page">
  <div class="login-box">
    <div class="welcome-content">
      <img src="/assets/hand.svg" alt="hand icon" class="welcome-icon" />
      <h2 class="welcome-text">
        손새김에 오신 것을 환영합니다!<br />
        로그인 페이지로 이동합니다.
      </h2>
      <div class="button-wrapper">
        <a href="/auth/login">
          <button class="login-btn">확인</button>
        </a>
      </div>
    </div>
  </div>
</div>
<%- include('../layouts/footer') %>