  .login-page {
    display: flex;
    flex-direction: column;
    margin: 80px auto;
    width: 1000px;
  }

  .login-title {
    font-size: 24px;
    margin-bottom: 24px;
    margin-left: 20px;
  }

  .login-box {
    width: 988px;
    height: 513px;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 60px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
  }

  .login-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
  }

  .input-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email-group {
    margin-top: 70px;
  }

  .password-group {
    margin-top: 41px;
  }

  .input-group label {
    display: flex;
    width: 100px;
    font-weight: bold;
    font-size: 20px;
  }

  .input-group input {
    width: 544px;
    height: 44px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 10px;
    padding: 0 12px;
    font-size: 16px;
  }

  .error-text {
    position: absolute;
    top: 255px; 
    left: 200px; 
    color: #FF4B4B;
    font-size: 14px;
    min-height: 18px;
    margin: 0;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }

  .login-btn {
    width: 170px;
    height: 56px;
    background-color: #FFF091;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .login-btn:hover {
    background-color: #ffe55c;
  }

  .find-password {
    text-align: center;
    margin-top: 24px;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
  }

  .find-password a {
    color: black;
    text-decoration: underline;
  }