body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: linear-gradient(#f7fbe8, #ffeeca);
  }
  
  .login-page {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-title {
    font-size: 24px;
    margin-bottom: 24px;
    margin-left: -50%;
  }
  
  .login-box {
    width: 988px;
    height: 513px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-wrapper {
    width: 100%;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-top: 71px;
  }
  
  .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 34px; 
  }
  .form-block {
    margin-bottom: 31px; 
  }
  
  label, .double-label {
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
  }
  
  input {
    width: 543px;
    height: 44px;
    background-color: #F1F1F1;
    border: none;
    border-radius: 10px;
    padding: 0 12px;
    font-size: 16px;
    margin-left: 21px;
  }
  
  .email-group {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  
  .check-btn {
    width: 134px;
    height: 44px;
    background-color: #239A52;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-left: 22px;
  }
  
  #error-email, #emailStatusText {
    position: absolute;
    margin-left: 129px;
    margin-top: 125px;
    font-size: 14px;
  }
  
  #error-pw, #pw-error-msg {
    position: absolute;
    margin-left: 129px;
    margin-top: 283px;
    font-size: 14px;
  }
  
  .success-text {
    color: #28A745;
  }
  
  .error-text.red {
    color: #FF4B4B;
  }
  
  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: -87px;
  }
  
  .login-btn {
    width: 125px;
    height: 56px;
    background-color: #FFF091;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .login-btn:hover {
    background-color: #ffe55c;
  }