.login-page {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-box {
    width: 988px;
    height: 513px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .welcome-content {
    text-align: center;
  }

  .welcome-icon {
    width: 102px;
    height: 123px;
    margin-bottom: -15px;
  }

  .welcome-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 30px;
  }

  .login-btn {
    width: 125px;
    height: 56px;
    background-color: #FFF091;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .login-btn:hover {
    background-color: #ffe55c;
  }