</main>
<footer>
    <article>손새김 : 손으로 새기며 배우다. </article>

    <article>
        손새김은 손으로 새기는 언어, 수어를 학습하는 학습 서비스입니다. 다양한 학습 컨텐츠와 게임을 활용하여 장벽을<br/>
        낮추고 즐거운 배움을 통한 청인과 농인 사이의 소통의 확장을 목표로 합니다.
    </article>

    <p><strong>제작 | </strong>김예은 박시현 전민선 조수빈 최수진</p>
</footer>
</body>

</html>