<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layouts/header.css">
    <link rel="stylesheet" href="/css/layouts/footer.css">
    <link rel="stylesheet" href="/css/mypage.css">
</head>

<body>
    <header>
        <a class="logo" href="/">
            <img src="/assets/logo.svg" alt="logo">
        </a>
        <div class="menu">
            <ul>
                <li><a href="/">홈</a></li>
                <li>학습하기</li>
                <li>게임하기</li>
            </ul>
        </div>
        <div class="my">
            <a href="/gomypage">스터디룸</a>

        </div>
    </header>
    <main>