<%- include('../layouts/header') %>

<link rel="stylesheet" href="/css/learn/learnFrame.css">

<div class="learn-container">
    <div class="learn-wrapper">
        <div id="label">
            <img src="/assets/hand.svg">
            <p><%= userName %>님 오늘도 손으로 새기며 배워봐요!</p>
        </div>
<div class="learn-box">
        <a href="/quiz/select" class="learn-btn">퀴즈풀기</a>
        <a href="/imitate/select" class="learn-btn">따라하기</a>
    </div>
</div>

<%- include('../layouts/footer') %>
