<%- include('layouts/header') %>
<div class="center-box">
    <form action="/auth/login" method="GET">
      <button class="action-btn" type="submit">로그인</button>
    </form>
    <form action="/auth/register-temp" method="GET">
      <button class="action-btn" type="submit">회원가입</button>
    </form>
  </div>
  
  <style>
   
  </style>  
  
<%- include('layouts/footer') %>