<%- include('layouts/header') %>
<form action="/auth/login_process" method="POST">
    <input type="email" name="email" placeholder="이메일" required><br>
    <input type="password" name="password" placeholder="비밀번호" required><br>
    <button type="submit">로그인</button>
  </form>
<%- include('layouts/footer') %>