<%- include('layouts/header') %>

<div class="quiz_result_container">
  <h2>모음/자음 퀴즈 결과</h2>

  <div class="result_card">
    <span class="score_box"><%= score %></span>
    <span class="score_total">/ <%= total %></span>

    <div class="result_buttons">
      <a href="" class="result_btn">오답 확인</a>
      <a href="" class="result_btn">돌아가기</a>
    </div>
  </div>
</div>

<%- include('layouts/footer', { script: '' }) %>