<%- include('layouts/header') %>
<form action="/auth/register-temp" method="POST">
    <input type="text" name="name" placeholder="이름" required><br>
    <input type="email" name="email" placeholder="이메일" required><br>
    <input type="password" name="password" placeholder="비밀번호" required><br>
    <input type="password" name="password2" placeholder="비밀번호 확인" required><br>
    <button type="submit">다음</button>
  </form>
<%- include('layouts/footer') %>