<!-- <%- include('layouts/header') %>

<link rel="stylesheet" href="/css/studyFrame.css">

<div class="study-container">
    <div class="study-wrapper">
        <div class="study-label">모음 따라하기</div>
        <div class="study-box">
        </div>
    </div>
</div> -->

 <%- include('layouts/header') %>

 <link rel="stylesheet" href="/css/imitate.css">
 
 <div class="imitate-container">
   <div class="imitate-wrapper">
     <div class="imitate-label">모음 따라하기</div>
     <div class="imitate-box">
       <div class="image-wrapper">
         <div class="image-box">이미지 1</div>
         <div class="image-box">이미지 2</div>
       </div>
     </div>
   </div>
 </div>
 