<%- include('layouts/header') %>

 <link rel="stylesheet" href="/css/studyFrame.css">
 <link rel="stylesheet" href="/css/learn/imitateWrong.css">

 <div class="study-container">
   <div class="study-wrapper">
     <div class="study-label">모음 따라하기</div>
     <div class="study-box">
      <div class="quiz-content">
            <div class="image-wrapper">
                <p>ㅇ (이응)</p>
                <div class="image-row">
                    <img src="" class="image-box" alt="이미지1">
                    <img src="" class="image-box" alt="이미지2">
                </div>
            </div>
        </div>
     </div>
   </div>
 </div>
 