<%- include('../layouts/header') %>
<link rel="stylesheet" href="/css/game/start.css">
<div class="overlay" id="rankingModal">
  <div class="ranking-modal">
    <button class="modal-close" onclick="closeRanking()">×</button>

    <p class="my-score">나의 최고 점수: <span id="myBestScore">260점</span></p>

    <h2 class="modal-title">순위</h2>

    <div class="ranking-list">
      <p>1등 최수진 260점</p>
      <p>2등 박시현 223점</p>
      <p>3등 전민선 178점</p>
    </div>
  </div>
</div>
<section class="game-box">
  <div class="title-box">
    <div class="word-card1">타</div>
    <div class="word-card2">자</div>
    <div class="word-card3">게</div>
    <div class="word-card4">임</div>
    <img src="/assets/gamearrow.svg" alt="화살표" class="arrow-icon" />
  </div>

  <div class="ranking" onclick="openRanking()">
    <img src="/assets/hand.svg" alt="손로고" />
    <span>순위 보기</span>
  </div>

  <div class="button-group">
    <button class="btn">게임 시작</button>
    <button class="btn">게임 방법</button>
  </div>
</section>
<script>
  function openRanking() {
    document.getElementById('rankingModal').style.display = 'flex';
  }

  function closeRanking() {
    document.getElementById('rankingModal').style.display = 'none';
  }
</script>

<%- include('../layouts/footer') %>
