@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*네모 박스 정렬, label, 북마크*/
.learn-container {
    display: flex;
    justify-content: center;  
    height: 100vh;

}

.learn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#label {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 5px;
}
#label > img {
    width: 70px;
}
#label > p {
    margin: 10px;
    font-size: 27px;
    font-weight: bold;
    margin-top: 40px;
}

.learn-box {
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 988px; 
    height: 512px;
}

.learn-content {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding: 20px;
    align-items: center;        
    justify-content: space-around;  
    height: 100%; 
    width: 90%;
}

.learn-btn {
    background-color: #fff091;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25); 
    width: 253px;           
    height: 67px;   
    line-height: 20px;      
    text-align: center;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;

}


#bookmark-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    margin: 40px;
}

#btn-img {
    width: 36px;
    height: auto;
}

.yellow {
    background-color: #FFF091;
}
.none {
    display: none;
}

#startBtn{
    margin-top: 50px;
    margin-bottom: 100px;
}