.result-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: 130px;
    font-weight: bold;
    color: black;
  }
  
  .result-box {
    background-color: #fff091;
    width: 126px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 40px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  }
  
  .result-total {
    font-size: 130px;
    color: black;
    line-height: 140px;
  }
  
  .result-buttons {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
  }

  .result-button {
    background-color: #22964A; 
    color: white;
    border: none;
    width: 103px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    line-height: 40px;
    font-size: 17px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
  }
  
  