@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*박스 위쪽 노란색 네모랑 문제 전환 버튼*/
.wrong-tab-container {
    position: relative;
    background-color: #FFF091; 
    height: 35px;
    width: 760px;
    border-radius: 20px 20px 0 0;
}

.wrong-label {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF091;
    padding: 8px 30px;
    border-radius: 20px 20px 0 0;
    font-weight: bold;
}

.quiz-btn {
    cursor: default;
}

.nav-buttons {
    border: none;
    background: none;
    padding: 0;
    position: absolute;
    bottom : 0;
    right: 0;
    margin: 10px;

}

.nav-btn {
    border: none;
    background: none;
    cursor: pointer;
    margin: 2px;
}

.nav-btn img {
    width: 20px;
    height: auto;
}

.yellow {
    background-color: #FFF091;
}

.green {
    background-color: #22964A;
    color: white;
}

.red {
    background-color: #CA3131;
    color: white;
}