<%- include('../layouts/header') %>

<link rel="stylesheet" href="/css/learn/learnFrame.css">

<div class="learn-container">
    <div class="learn-wrapper">
        <div class="learn-box">

        <div class="learn-content">

            <img src="/assets/hand.svg" alt="캐릭터 이미지" />
            <h2>모든 퀴즈를 학습하셨습니다!</h2>
            
        </div>
    </div>
</div>

<%- include('../layouts/footer') %>