<%- include('../layouts/header') %>

<link rel="stylesheet" href="/css/learn/learnFrame.css">

<div class="learn-container">
    <div class="learn-wrapper">
        <div id="label">퀴즈풀기</div>
<div class="learn-box">
        <a href="/quiz/start/phoneme" class="imitate-btn">모음/자음 퀴즈</a>
        <a href="/quiz/start/word" class="imitate-btn">단어/표현 퀴즈</a>
        <a href="/quiz/wrong?type=collected" class="imitate-btn">오답 모아보기</a>
    </div>
</div>

<%- include('../layouts/footer') %>
