<%- include('../layouts/header') %>

<div class="quiz_container">
  <h2>퀴즈풀기</h2>
    <div class="quiz_box">
        <div class="quiz_options">
            <button class="quiz_btn">모음/자음 퀴즈</button>
            <button class="quiz_btn">단어/표현 퀴즈</button>
            <button class="quiz_btn">오답 확인</button>
        </div>
    </div>
</div>

<%- include('../layouts/footer', { script: '' }) %>