<%- include('../layouts/header') %>
<link rel="stylesheet" href="/css/learn/wrong.css">
<link rel="stylesheet" href="/css/learn/quiz.css">

<div class="quiz-container">
  <div class="quiz-wrapper">
    <div class="quiz-tab-container"> <!--노란색 바-->
      <div class="quiz-label">오답 확인</div> <!--글씨-->
    </div>

    <div class="quiz-box">

      <!-- 학습메모 버튼 -->
      <!--<form action="" method="POST" class="bookmark_form">
        <input type="hidden" name="questionId" value="">-->
        <button type="submit" id="bookmark-btn">
          <img id="btn-img" src="/assets/empty_bookmark.svg" alt="북마크" />
        </button> 
      <!--</form>-->

      <!-- 내용 -->
      <div class="quiz-content">
        <img src="" alt="수어 이미지" class="quiz-image" />
        <div class="quiz-text">
          <p>1. 이 수어의 의미로 옳은 선택지를 고르시오</p>
          <div class="quiz-options">
            <div class="quiz-row">
              <button class="quiz-btn yellow">1. 폭탄</button>
              <button class="quiz-btn yellow">2. 열기구</button>
            </div>
            <div class="quiz-row">
              <button class="quiz-btn green">3. 빵</button>
            <button class="quiz-btn red">4. 뻥튀기</button>
            </div>
          </div>
        </div>
      </div>

      <!-- 페이지 이동 버튼 -->
      <div class="nav-buttons">
        <button class="nav-btn">
          <img src="/assets/left-btn.svg" alt="이전" />
          </button>
        <button class="nav-btn">
          <img src="/assets/right-btn.svg" alt="다음" />
        </button>
      </div>

    </div>
  </div>
</div>

<script src="/js/quiz/bookmark.js"></script>