<%- include('../layouts/header') %>
<link rel="stylesheet" href="/css/learn/learnFrame.css">
<link rel="stylesheet" href="/css/learn/wrong.css">
<link rel="stylesheet" href="/css/imitate/imitate.css">

<div class="learn-container">
    <div class="learn-wrapper">
        <div class="wrong-tab-container"> <!--노란색 바-->
            <div class="wrong-label">오답 확인</div> <!--글씨-->
        </div>

        <div class="learn-box">

        <!-- 학습메모 버튼 -->
        <!--<form action="" method="POST" class="bookmark_form">
            <input type="hidden" name="questionId" value="">-->
            <button type="submit" id="bookmark-btn">
                <img id="btn-img" src="/assets/empty_bookmark.svg" alt="북마크" />
            </button> 
        <!--</form>-->

        <!-- 내용 -->
        <div class="learn-content">
            <div class="image-wrapper">
                <p id="wrong-description"></p>
                <div class="image-row">
                    <img id="wrong-image" src="" class="image-box" alt="이미지1">
                    <img src="" class="image-box" alt="이미지2">
                </div>
            </div>
        </div>

        <!-- 페이지 이동 버튼 -->
        <div class="nav-buttons">
            <button id="prev-btn" button class="nav-btn">
            <img src="/assets/left-btn.svg" alt="이전" />
            </button>
            <button id="next-btn" button class="nav-btn">
            <img src="/assets/right-btn.svg" alt="다음" />
            </button>
        </div>

        </div>
    </div>
</div>

<script src="/js/quiz/bookmark.js"></script>
<script src="/js/imitate/renderImitateWrong.js"></script>

<%- include('../layouts/footer') %>
