<%- include('../layouts/header') %>

<link rel="stylesheet" href="/css/learn/learnSelect.css">

<div class="imitate-container">
    <div class="imitate-wrapper">
        <div class="imitate-label">따라하기</div>
<div class="imitate-box">
        <a href="/imitate/start?type=vowel" class="imitate-btn">모음 따라하기</a>
        <a href="/imitate/start?type=consonant" class="imitate-btn">자음 따라하기</a>
    </div>
</div>
