<%- include('../layouts/header') %>

 <link rel="stylesheet" href="/css/learn/learnFrame.css">
 <link rel="stylesheet" href="/css/imitate/imitate.css">

 <div class="learn-container">
   <div class="learn-wrapper">
     <div class="learn-label" id="label">
      <p><%= type === 'vowel' ? '모음 따라하기' : '자음 따라하기' %></p>
    </div>
     <div class="learn-box">
      <div class="learn-content">
            <div class="image-wrapper">
                <p id="imitate-description"></p>
                <div class="image-row">
                    <img id="imitate-image" src="" class="image-box" alt="이미지1">
                    <div class="countdown-box" id="countdown"></div>
                    <video id="camera" class="image-box" autoplay playsinline></video>
                </div>
            </div>
        </div>
     </div>
   </div>
 </div>

 <script>
  const imitateList = <%- JSON.stringify(enrichedImitateList) %>;
</script>

 <script src="/js/imitate/camera.js"></script>
<script src="/js/imitate/renderImitate.js"></script>

<%- include('../layouts/footer') %>