<%- include('../layouts/header') %>

 <link rel="stylesheet" href="/css/learn/learnFrame.css">
 <link rel="stylesheet" href="/css/imitate/imitate.css">

 <div class="learn-container">
   <div class="learn-wrapper">
     <div class="learn-label" id="label">
      <p>모음 따라하기</p>
    </div>
     <div class="learn-box">
      <div class="learn-content">
            <div class="image-wrapper">
                <p>ㅓ (어)</p>
                <div class="image-row">
                    <img src="" class="image-box" alt="이미지1">
                    <!-- <img src="" class="image-box" alt="이미지2"> -->
                    <div class="countdown-box" id="countdown"></div>
                    <video id="camera" class="image-box" autoplay playsinline></video>
                </div>
            </div>
        </div>
     </div>
   </div>
 </div>
 <script src="/js/imitate/camera.js"></script>
